.shop-cart {
	$bp: &;

	padding: 0;
	border-radius: $radius-primary;

	text-decoration: none;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		& + #{$bp}__item {
			margin-left: 15px;
		}

		&--cart {
			position: relative;
		}
	}

	&__count {
		position: absolute;
		top: -6px;
		right: -6px;
	}

	&__icon {
		width: 26px;
		height: 26px;
	}

	&__label {
		display: block;

		color: var(--color-gray-septenary);
		font-weight: 400;
		font-size: 11px;
		line-height: 120%;
	}

	&__sum {
		margin: 7px 0 0;

		color: var(--color-gray-nonary);
	}
}
