.instagram {
	&__row {
		@include grid-system(repeat(4, 1fr), 12px);
	}

	&__col {
		aspect-ratio: 1/1;

		border-radius: 4px;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
