* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;

	color: var(--color-gray-9);

	font-size: 16px;
	font-family: $font-family;
	line-height: 120%;

	background-color: var(--bg-primary);
}

#app {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1360px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
}

a {
	&[class] {
		text-decoration: none;
	}
}

input,
textarea {
	font-size: inherit;
	font-family: inherit;
	line-height: 120%;

	transition: border-color $transition-primary,;

	&::placeholder {
		color: var(--color-gray-4);
	}

	&:not([disabled]) {
		&:hover {
			border-color: inherit;
		}
	}
}

input,
textarea,
button,
[role='button'] {
	&[disabled] {
		@include disabled;
	}
}

abbr {
	text-decoration: none;

	cursor: help;
}
