// color
.btn {
	&--white {
		color: var(--color-gray-nonary);

		background-color: var(--color-white);

		fill: var(--color-gray-nonary);
	}

	&--brand {
		color: var(--color-white);

		background-color: var(--color-brand);

		fill: var(--color-white);

		&:hover {
			background: var(--color-brand-hard);
		}
	}

	&--ghost {
		color: var(--color-brand);

		background-color: var(--color-brand-ghost);

		fill: var(--color-brand);

		&:hover {
			color: var(--color-brand-hard);

			background-color: rgb(44 116 47 / 20%);

			fill: var(--color-brand-hard);
		}
	}
}
