.menu {
	$bp: &;

	display: flex;
	align-items: center;

	&__col {
		& + #{$bp}__col {
			margin-left: 32px;
		}
	}

	&-categories {
		padding: 17.5px 28px 17.5px 24.5px;

		color: var(--color-white);

		background-color: var(--color-brand);

		fill: var(--color-white);

		.dropdown {
			&__arrow {
				margin-left: 26px;
			}
		}

		&__burger {
			width: 22px;
			height: 16px;
			margin: 0 10px 0 0;
		}
	}

	&__link {
		@include text-small(500);

		padding: 17.5px 0;

		color: var(--color-gray-quinary);

		text-decoration: none;

		fill: var(--color-gray-quinary);

		&.router-exact-active {
			@include active-link;
		}
	}

	&__dropdown {
		fill: var(--color-gray-quinary);
	}
}
