.select {
	$bp: &;

	position: relative;

	&__value {
		position: absolute;
		bottom: 0;
		left: 0;

		z-index: -1;

		width: 100%;
		height: 100%;

		opacity: 0;
	}

	&--disabled {
		#{$bp}__header {
			@include disabled;
		}
	}

	&--default {
		#{$bp} {
			&__header {
				@include field-appearance;

				padding-right: 35px;

				&::after {
					right: 15px;
				}
			}

			&__option {
				padding: 14px;
			}
		}
	}

	&--small {
		#{$bp} {
			&__header {
				padding-right: 13px;

				&::after {
					right: 0;
				}
			}

			&__option {
				padding: 5px;
			}
		}
	}
}
