.select {
	$bp: &;

	&__header {
		position: relative;

		display: flex;
		align-items: center;

		cursor: pointer;

		transition: all $transition-primary, outline-color 0s;

		&::after {
			position: absolute;
			top: 0;
			bottom: 0;

			display: block;
			width: 9px;
			height: 9px;
			margin: auto 0;

			background: url('@base64/icon-arrow-down.svg') no-repeat center;
			background-size: contain;
			transform-origin: center;

			transition: all $transition-primary;

			content: '';

			#{$bp}-open & {
				transform: rotate(180deg);
			}

			#{$bp}--default & {
				right: 15px;
			}

			#{$bp}--small & {
				right: 0;
			}
		}

		&:hover {
			border-color: inherit;
		}

		#{$bp}--default & {
			@include field-appearance;

			padding-right: 35px;
		}

		#{$bp}--small & {
			padding-right: 13px;
		}
	}

	&__placeholder {
		color: var(--color-placeholder);

		user-select: none;
	}

	&__output {
		flex-grow: 1;

		user-select: none;
	}

	&__clear {
		width: 19px;
		min-width: auto;
		height: 19px;

		background-color: var(--color-danger);

		fill: var(--color-white);

		.icon {
			width: 9px;
			min-width: 9px;
			height: 9px;
		}
	}
}
