.select {
	&__search {
		position: sticky;
		top: 0;

		&-field {
			width: 100%;
			padding: 14px 14px 14px 44px;
			border: 0;
			border-bottom: 1px solid var(--color-gray-1);
			border-radius: 0;

			background-image: url('@svg/icon-search.svg');
			background-repeat: no-repeat;
			background-position: 14px center;
			background-size: 16px 16px;
			outline: none;

			&:focus {
				border-color: inherit;
			}
		}
	}
}
