.top-panel {

	@include text-tiny;

	padding: 12px 0;

	color: var(--color-gray-tertiary);

	background-color: var(--color-gray-octonary);

	fill: var(--color-gray-tertiary);

	&__row {
		@include grid-system(auto auto);

		justify-content: space-between;
	}

	&-actions {
		$ap: &;

		display: flex;
		align-items: center;

		&__col {
			display: inline-flex;
			align-items: center;
			& + #{$ap}__col {
				margin-left: 20px;
				padding-left: 20px;
				border-left: 1px solid rgb(255 255 255 / 10%);
			}
		}

		&__item {
			& + #{$ap}__item {
				margin-left: 20px;
			}
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}
