.field {
	@include field-appearance;

	&--search {
		padding-left: 44px;

		background-image: url('@base64/icon-search.svg');
		background-repeat: no-repeat;
		background-position: 18px center;
		background-size: 16px 16px;
	}
}
