.dropdown {
	$bp: &;

	&__header {
		display: flex;
		align-items: center;

		cursor: pointer;

		user-select: none;
	}

	&__arrow {
		width: 10px;
		min-width: 10px;
		height: 10px;
		margin-left: 10px;

		transition: all $transition-primary;

		.dropdown-open & {
			transform: rotate(180deg);
		}
	}
}
