.dropdown {
	$bp: &;

	&__main {
		@include dropdown-view(180px);

		padding: 5px;

		outline: none;
	}

	&__item {
		& + #{$bp}__item {
			margin-top: 5px
		}
	}

	&__el {
		display: block;

		padding: 5px;
		border-radius: $radius-primary;

		color: inherit;
		text-decoration: none;

		transition: all $transition-primary;

		&:hover {
			@include hover-hard;
		}
	}
}
