.header {
	&-main {
		padding: 24px 0;

		background-color: var(--bg-primary);

		&__row {
			@include grid-system;

			align-items: center;
			justify-content: space-between;
		}

		&__col {
			&--left,
			&--right {
				@include grid-col(span 3)
			}

			&--center {
				@include grid-col(span 6);
			}
		}
	}

	&-actions {
		$bp: &;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		&__col {
			& + #{$bp}__col {
				display: inline-flex;
				align-items: center;
				margin-left: 12px;

				&::before {
					display: block;
					width: 1px;
					height: 24px;
					margin-right: 17px;

					background-color: var(--color-gray-secondary);

					content: '';
				}
			}
		}

		&__item {
			svg {
				width: 28px;
				min-width: 28px;
				height: 27px;
			}
		}
	}

	&__search {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}

	&-footer {
		display: flex;

		background-color: var(--color-gray);

		&__row {
			@include grid-system(auto auto);

			align-items: center;
			justify-content: space-between;
		}
	}

	&__phone {

		@include text-small(500);

		display: flex;
		align-items: center;

		color: inherit;

		svg {
			width: 20px;
			min-width: 20px;
			height: 20px;
			margin-right: 12px;
		}
	}
}
