.section {
	margin-bottom: 50px;

	&__title {
		@include heading-h2(800);

		margin-bottom: 30px;
		padding: 10px 20px;

		color: #fff;

		background-color: var(--color-brand);
	}
}

.container {
	max-width: 920px;
}
