@mixin field-appearance() {
	width: 100%;
	padding: 11px 16px;
	border: 1px solid var(--color-gray-primary);
	border-radius: $radius-secondary;

	background-color: var(--bg-field);
}

@mixin dropdown-view($min-width: 55px) {
	width: 100%;
	min-width: $min-width;
	max-height: 230px;

	border-radius: $radius-primary;
	overflow-y: auto;

	background-color: var(--bg-dropdown);
	box-shadow: $shadow-primary;
}
