@mixin text-ellipsis() {
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin text-size($size: 'medium', $weight: 400, $height: 150%) {
	font-weight: $weight;
	font-size: var(--text-size-#{$size});
	line-height: $height;
}

@mixin reset-list() {
	margin: 0;
	padding: 0;

	list-style-type: none;
}
