@mixin active() {
	transform: translateY(2px);
}

@mixin focus() {
	outline-color: var(--color-outline-primary);
}

@mixin focus-shadow() {
	box-shadow: $shadow-secondary;
}

@mixin hover-hard() {
	color: var(--color-brand-hard);

	background: hsl(from var(--color-brand-hard) h s l / 20%);

	fill: var(--color-brand-hard);
}

@mixin hover-link() {
	color: var(--color-brand);

	fill: var(--color-brand);
}

@mixin active-link() {
	color: var(--color-brand);

	fill: var(--color-brand);
}

@mixin outline-primary() {
	outline: 2px solid transparent;
}

@mixin disabled() {
	background-color: var(--color-disabled);
	cursor: auto;

	pointer-events: none;
}
