.footer {
	$bp: &;

	color: var(--color-green-5);

	font-size: var(--text-size-small);

	background: var(--color-green-9) url('./bg-footer.svg') no-repeat;
	background-position: 20% center;

	a {
		&:not([class]) {
			color: var(--color-white);
		}
	}

	&-main {
		padding: 100px 0;
	}

	&__title {
		display: block;
		margin: 0 0 20px;

		color: var(--color-white);

		font-weight: 500;
		font-size: var(--text-size-xl);
	}

	&__contacts {
		margin: 22px 0 0;

		a {
			padding: 0 0 6px;
			border-bottom: 1px solid var(--color-brand);

			text-decoration: none;
		}

		span {
			display: inline-block;
			margin: 0 16px;
		}
	}

	&-nav {
		$bp: &;

		display: flex;
		flex-direction: column;

		&__item {
			color: inherit;
			& + #{$bp}__item {
				margin-top: 12px;
			}

			&.router-link-exact-active {
				color: var(--color-white);
			}
		}
	}

	&-bottom {
		padding: 24px 0;
		border-top: 1px solid var(--color-green-3);
	}
}
