.search {
	display: flex;

	&__item {
		&--field {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&--submit {
			padding: 12px 22px;
			border-radius: 0 $radius-secondary $radius-secondary 0;
		}
	}
}
