@each $name, $variable in $gray-list {
	.text-gray-#{$name} {
		color: var(--color-gray-#{$name});

		fill: var(--color-gray-#{$name});
	}
}

@each $name, $variable in $green-list {
	.text-green-#{$name} {
		color: var(--color-green-#{$name});

		fill: var(--color-green-#{$name});
	}
}


.text {
	&-brand {
		color: var(--color-brand);

		fill: var(--color-brand);
	}

	&-white {
		color: var(--color-white);

		fill: var(--color-white);
	}
}
